@model WebsiteBanCaPhe.Models.Account

@{
    ViewData["Title"] = "Create";
    Layout = "_LayoutBeforeLogin";
}

<h4 style="color: #4bb6b7; text-align: center; margin-bottom: 15px;">Account</h4>
<hr style="border-color: #4bb6b7;" />

<div class="row" style="display: flex; justify-content: center; align-items: center;">

    <div class="col-md-4" style="margin:0 auto;">
        <form asp-action="Create" style="max-width: 300px; margin: 0 auto; padding: 20px; background-color: #f9f9f9; border: 2px solid #4bb6b7; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label class="control-label" style="color: #333;">Số điện thoại</label>
                <input asp-for="PhoneNumber" class="form-control" style="border: 1px solid #4bb6b7; border-radius: 5px;" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label class="control-label" style="color: #333;">Mật khẩu</label>
                <input asp-for="Password" class="form-control" type="password" style="border: 1px solid #4bb6b7; border-radius: 5px;" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label class="control-label" style="color: #333;">Họ tên</label>
                <input asp-for="FullName" class="form-control" style="border: 1px solid #4bb6b7; border-radius: 5px;" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label class="control-label" style="color: #333;">Giới tính</label>
                <select asp-for="Gender" class="form-control" style="border: 1px solid #4bb6b7; border-radius: 5px;">
                    <option value="Nam">Nam</option>
                    <option value="Nữ">Nữ</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            
            <div class="form-group" style="margin-top: 10px; text-align: center;">
                <input type="submit" value="Tạo" class="btn btn-primary" style="background-color: #4bb6b7; border: 1px solid #4bb6b7; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

