@model WebsiteBanCaPhe.Models.OrderDetail

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Người đặt hàng
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserOrder.Address)
        </dd>
        <dt>
            Sản phẩm
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Product.Branch)
        </dd>
        <dt>
            Số lượng
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt>
            Tổng giá tiền
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderDetailId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
