@model WebsiteBanCaPhe.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "_LayoutAdmin";
}

<h4 style="color: #4bb6b7; text-align: center; margin-bottom: 15px;">Sản phẩm</h4>
<hr style="border-color: #4bb6b7;" />
<div class="row" style="margin: 20px 0; display: flex; justify-content: center; align-items: center;">
    <div class="col-md-4" style="margin: 0 auto;">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProductId" />
<div class="form-group">
                <label class="control-label" style="color: #333; text-align:center; ">Tên sản phẩm</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" style="color: #333; text-align:center; ">Mô tả</label>
                <input asp-for="ProductDescription" class="form-control" />
                <span asp-validation-for="ProductDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" style="color: #333; text-align:center; ">Link ảnh</label>
                <input asp-for="PhotoURL" class="form-control" />
                <span asp-validation-for="PhotoURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" style="color: #333; text-align:center; ">Xuất xứ</label>
                <input asp-for="Origin" class="form-control" />
                <span asp-validation-for="Origin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" style="color: #333; text-align:center; ">Thương hiệu</label>
                <input asp-for="Branch" class="form-control" />
                <span asp-validation-for="Branch" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" style="color: #333; text-align:center; ">Giá</label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" style="color: #333; text-align:center; ">Số lượng</label>
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label" style="color: #333; text-align:center; ">Id danh mục</label>
                <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
            </div>
            <div class="form-group" style="text-align: center; margin-top: 20px;">
                <input type="submit" value="Sửa" class="btn btn-primary" style="background-color: #4bb6b7; border: 1px solid #4bb6b7; border-radius: 5px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);" />
            </div>

            <div style="text-align: center; margin-top: 20px;">
    <a asp-action="Index" class="btn btn-secondary" style="text-decoration: none; background-color: #4bb6b7; border: 1px solid #4bb6b7; border-radius: 5px; color: #fff; padding: 10px 20px;">Trở lại danh sách</a>
</div>
        </form>
    </div>
</div>

